[user]
	email = nahuelourthe1996@gmail.com
	name = Nahuel Ourthe

[core]
	editor = vim

[alias]
	lodag = log --oneline --decorate --all --graph --color
	ldag = log --decorate --all --graph --color
	lod = log --oneline --decorate --color
	lodg = log --oneline --decorate --graph --color
	hs = log --pretty=format:'%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(7,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D' --date=relative
	hsodag = log --oneline --all --graph --pretty=format:'%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(7,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D' --date=relative
	co = checkout
	cam = commit --amend
	cAm = commit --amend --reuse-message=HEAD

[pull]
	rebase = true
[fetch]
	prune = true
[rebase]
	instructionFormat = %s [%an] # add the commit author to the end of each line
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	keepBackup = false
[init]
	defaultBranch = main
