!https://blog.khmersite.net/2017/12/change-the-urxvt-font-size-on-the-fly/#:~:text=To%20make%20change%20to%20font,to%20do%20this%20via%20extensions.
urxvt.perl-ext-common: default,resize-font,clipboard,matcher
URxvt*iso14755: false
urxvt.keysym.Shift-Control-V: perl:clipboard:paste

!------------
!True Transparency
!------------
!set to 32-bit for real transparency (compositing required (see xcompmgr)
urxvt*depth:             32
urxvt*background: rgba:3800/3c00/4a00/eeee
!URxvt.background: #383c4a
!------------------
!False tranparency
!------------------
!URxvt.transparent: true
!URxvt.shading: 50 
*.foreground: #d3dae3
!black
*.color0:     #4b5164
*.color8:     #616981
!red
*.color1:     #e14245
*.color9:     #e16f7e
!green
*.color2:     #5ca75b
*.color10:    #add488
!yellow
*.color3:     #f6ab32
*.color11:    #fdc35f
!blue
*.color4:     #4877b1
*.color12:    #8ca9bf
!magenta
*.color5:     #a660c3
*.color13:    #e2afec
!cyan
*.color6:     #5294e2
*.color14:    #73c5e2
!white
*.color7:     #a9a9aa
*.color15:    #fcfcfc

!Colores de https://blog.desdelinux.net/personalizando-urxvt-rxvt-unicode-esa-magnifica-consola/
!!Negro
!URxvt.color0: #000000
!URxvt.color8: #555753
!!Rojo
!URxvt.color1: #990099
!URxvt.color9: #8E388E
!!Verde
!URxvt.color2: #4E9A06
!URxvt.color10: #699000
!!Amarillo
!URxvt.color3: #FFA500
!URxvt.color11: #FFA500
!!Azul
!URxvt.color4: #3465A4
!URxvt.color12: #729FCF
!!Magenta
!URxvt.color5: #75507B
!URxvt.color13: #AD7FA8
!!Cyan
!URxvt.color6: #06989A
!URxvt.color14: #34E2E2
!!Blanco
!URxvt.color7: #FFFFFF
!URxvt.color15: #FFFFFF

URxvt.geometry: 80x30
URxvt.buffered: true
URxvt.background: black
URxvt.foreground: white
URxvt.cursorColor: white
URxvt.cursorBlink: true
URxvt.underlineColor: green
URxvt.font:xft:Source Code Pro:pixelsize=15:antialias=true:hinting=true
URxvt.letterSpace:-1

!transparent=0000 opaque=ffff
!urxvt*background: rgba:1111/1111/1111/dddd
!urxvt*background: rgba:1111/1111/1111/0000


! scrollbar style - rxvt (default), plain, next, or xterm
URxvt.scrollBar:false

!ICON
URxvt.iconFile: /usr/share/icons/Adwaita/scalable/apps/utilities-terminal-symbolic.svg


!LINKS
!https://bbs.archlinux.org/viewtopic.php?id=47795
!ext-common += matcher
urxvt*perl-lib:            /usr/lib/urxvt/perl/
urxvt*urlLauncher:        /usr/bin/chromium
urxvt*matcher.button:        1
urxvt*matcher.pattern.1:   \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
