/* #include "/home/nahuel/.themes/Xresources/default" */
/* #include "/home/nahuel/.themes/Xresources/aver" */
#include "/home/nahuel/.themes/Xresources/dracula"

#include "/home/nahuel/.config/urxvt.Xresources"

